body {
        background-color: aqua;
}

.wrapper {
    font-family: sans-serif; 
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 3px #000;
    background-color: white;
    margin: 200px auto;
}

.text {
    text-align: center;
    
}